extends layout 

block content 
  if currentUser 
    if currentUserIsVerified 
      if member.isVerified
        if currentUser===member.username
          p.paragraph You are verified.
        else 
          p.paragraph 
            b= member.username 
            |  is verified.
        if messages.length > 0
          div.messages
            each message in messages 
              div.message 
                small.message-details 
                  if currentUser===member.username 
                    | On #{message.date_formatted}, you wrote:
                  else
                    | On #{message.date_formatted}, this member wrote:
                p.message-text= message.text
                if currentUserIsAdmin 
                  small.message-details 
                    a(href=`/delete/${message._id}` class='nav-link') Delete Message
        else 
          p.paragraph 
            if currentUser===member.username
              | You haven't written any messages yet. 
              a(href='/new-message' class='nav-link') Send a new message.
            else 
              | This member hasn't written any messages yet.
      else 
        p.paragraph 
          b= member.username 
          |  is not verified.
    else 
      if currentUser===member.username
        p.paragraph You are not verified.
        p.paragraph To verify yourself, enter the secret passcode.
        form(method='POST' action='')
          label(for='passcode') Passcode: 
          input#passcode(
            name='passcode' 
            type='password'
            required=true
          )
          if wrongPasscode 
            .alert 
              p Incorrect passcode.
          button(type="submit") Submit
      else
        p.paragraph You must be verified to see member information.
  else 
    p.paragraph You must be logged in and verified to see member information.