extends layout 

block content 
  form(method="post" action="") 
    label(for="username") Username:  
    input#username(
      name="username" 
      type="text" value=username || ''
      required=true 
      maxLength=32
    ) 
    label(for="password") Password:  
    input#password(
      name="password" 
      type="password"
      required=true 
      maxLength=64
    ) 
    label(for="confirm-password") Confirm Password:  
    input#confirm-password(
      name="confirm-password" 
      type="password"
      required=true 
      maxLength=64
    ) 
    if errors && errors.length > 0
      .alert 
        each error in errors 
          p= error.msg
    button(type="submit") Sign Up